<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- akka -->
    <logger name="akka.actor" level="INFO"/>
    <logger name="akka.actor.TimerScheduler" level="INFO"/>
    <logger name="slick.jdbc.JdbcBackend" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>